* {
    margin: 0;
    padding: 0;
}

/*start-navbar*/
nav {
    background-color: #138808;
    height: 64px;
    min-height: 25px;
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: static;
}

.logo {
    height: 60px;
    padding: 0 30px;
    text-decoration: none;
}

.navbarList {
    list-style-type: none;
    justify-content: space-between;
    padding: 0 32px;
}

.nav-item {
    padding: 0 18px;
    color: white;
}

.nav-item {
    float: left;
    display: flex;
    flex-wrap: wrap;
}

/*#end-navbar*/
/*start notification modal*/
#modalbtn {
    background-color: #138808;
    border: none;
    color: white;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.alert-title {}

.notification {
    padding: 20px 40px 20px 20px;
    display: flex;
}

.notif-description {
    padding-right: 100px;
    margin: 0 0 5px 0;
}

.notification-title {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
}

.notif-icon {
    margin: 0 25px;
}

/*end notification modal*/
/*Start Main Content*/
.welcomeback {
    text-align: center;
    border: 1px solid;
    margin: 30px 10% 0 10%;
    display: flex;
    justify-content: center;
}


.maincontainer {
    display: flex;
    text-align: center;
    margin: 10px 10%;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

.column-3 {
    /*margin: 5px 30px;*/
    width: 32%;
    border: 1px solid;

}

.title {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}

/*Start of Today's Limit*/
.todaysLimit {
    border: 1px solid;
    margin: 10px 20px;
    height: 200px;
}

.moneyAmount {
    padding-top: 60px;
}

.todaysSpending {
    border: 1px solid;
    margin: 10px 20px;
}

.todaysList {
    height: 100px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
}

.addspending {
    height: 40px;
    width: 80%;
    background-color: #138808;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    border: none;
    margin: 0 0 10px 0;
}

.addspending:hover {
    background-color: #117308;
}

/*Ending of Today's Limit*/

.list-item {}

/*Start list of Spending*/
.list-of-spending {
    border: 1px solid;
    margin: 10px 20px;
    height: 400px;
}

.spendinglist {
    height: 400px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;

}

/*End list of Spending*/
/*Start of savings*/
.withdraw {
    height: 70px;
    width: 80%;
    background-color: #138808;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    border: none;
    margin: 0 0 10px 0;
}

.withdraw:hover {
    background-color: #117308;
}

/*End of savings*/
/*End Main Content*/

/*FOOTER START*/
#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.footer-icon {
    padding: 0 10px 10px 0;
}

/*FOOTER END*/